# global git config

[color]
  ui = true
[diff]
  tool = vimdiff
  submodule = diff
[merge]
	tool = nvimdiff
[core]
  excludesfile = ~/.gitignore_global
[alias]
  st = status
  ci = commit
  co = checkout
  df = diff --color-words
[user]
  name = Marcio Mazza
  email = marciomazza@gmail.com
[push]
  default = simple
[difftool]
  trustExitCode = true
[mergetool]
  trustExitCode = true
	prompt = false
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[trim]
	bases = develop,master
[init]
	defaultBranch = main
[stash]
  showIncludeUntracked = true
[difftool "vimdiff"]
  path = nvim
[pull]
    rebase = true
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c \"wincmd l\" -c \"wincmd J\"
[commit]
	verbose = true
