[color]
  ui = true
[diff]
  tool = vimdiff
  submodule = diff
[merge]
  tool = vimdiff
[core]
  excludesfile = /home/mazza/.gitignore
[alias]
  st = status
  ci = commit
  co = checkout
  df = diff --color-words
[user]
  name = Marcio Mazza
  email = marciomazza@gmail.com
[push]
  default = simple
[difftool]
  trustExitCode = true
[mergetool]
  trustExitCode = true
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[trim]
	bases = develop,master
[init]
	defaultBranch = main
[stash]
  showIncludeUntracked = true
[difftool "vimdiff"]
  path = nvim
